.root{
-fx-background-color : white;
}
.button-style-ok{
-fx-background-color : #2196F3;
-fx-background-radius : 5px;
-fx-text-fill : white;
-fx-font-weight : bold;
-fx-background-insets : 0 0 -1 0, 0 , 1 , 2;
}
.button-style-cancel{
-fx-background-color : #b5b5b5;
-fx-background-radius : 5px;
-fx-text-fill : black;
-fx-font-weight : bold;
-fx-background-insets : 0 0 -1 0, 0 , 1 , 2;
}
.button-style-cancel:hover{
-fx-background-color : #9e9e9e;
}
.button-style-ok:hover{
-fx-background-color : #185d94;
}
.text-field {
-fx-background-color: -fx-text-box-border, #dfe4ed;
-fx-background-radius: 5px;
-fx-text-fill : black;
}
.text-field:focused {
-fx-background-color: -fx-focus-color, white;
}
.label{
-fx-text-fill : black;
}
.message{
-fx-text-fill : black;
-fx-font-size: 16px;
}
.label{
-fx-text-fill : black;
}
.context-menu {
-fx-skin : "javafx.scene.control.skin.ContextMenuSkin";
-fx-background-color: white;
-fx-background-radius: 5px;
}
.menu-item .label {
-fx-text-fill: black;
}
.menu-item:focused {
-fx-background-color: -fx-accent;
}
.menu-item:focused .label {
-fx-text-fill: white;
}